.ui-route.index-loading {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ddd;
  font-weight: 200;
  font-size: 42px;
  line-height: 42px * 1.3;
  @include media(phone) {
    font-size: 31px;
    line-height: 31px * 1.3;
  }
}
